.border-box {
  box-sizing: border-box
}
.ml2 {
  margin-left: 1rem
}
.mx3 {
  margin-right: 2rem;
  margin-left: 0
}
.my3 {
  margin-top: 0;
  margin-bottom: 0
}
.mx-auto {
  margin-right: auto;
  margin-left: 60px
}
.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem
}
.px3 {
  padding-right: 2rem;
  padding-left: 0
}
.py4 {
  padding-top: 4rem;
  padding-bottom: 0
}
body .h1,
body h1 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #cc2a41;
  letter-spacing: .01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}
body .h2,
body h2 {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: rgba(86,124,119,.8);
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1rem
}

body ul {
  line-height: 1.725
}

body ul ul {
  margin-top: 0;
  margin-bottom: 0
}
@font-face {
  font-style: normal;
  font-family: "Meslo LG";
  src: local("Meslo LG S"),url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")
}
*,
:after,
:before {
  box-sizing: border-box
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 2px solid #22272a;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
body {
  height: 100%;
  background-color: #fafafa;
  color: #22272a;
  font-display: swap;
  font-weight: 400;
  font-size: 14px;
  font-family: Menlo,"Meslo LG",monospace;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-wrap: break-word
}
.content p {
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto
}
.content a {
  color: #22272a;
  text-decoration: none;
  background-image: linear-gradient(transparent,transparent 5px,#22272a 5px,#22272a);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x
}
.content a:hover {
  background-image: linear-gradient(transparent,transparent 4px,rgba(86,124,119,.4) 4px,rgba(86,124,119,.4))
}
.content a.icon {
  background: 0 0
}
.content a.icon:hover {
  color: rgba(86,124,119,.4)
}
.content .h1 a,
.content h1 a,
.content h2 a {
  background: 0 0;
  color: inherit;
  text-decoration: none
}
.content .h1 a:hover,
.content h1 a:hover,
.content h2 a:hover {
  background-image: linear-gradient(transparent,transparent 6px,rgba(86,124,119,.4) 6px,rgba(86,124,119,.4));
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x
}
#header {
  margin: 0 auto 0;
  width: 100%
}
#header .h1,
#header h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #22272a;
  letter-spacing: .01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}
#header a {
  background: 0 0;
  color: inherit;
  text-decoration: none
}
#header #logo {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  filter: grayscale(100%);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%)
}
#header #nav {
  color: #cc2a41;
  letter-spacing: .01em;
  font-weight: 200;
  font-style: normal;
  font-size: .8rem
}
#header #nav ul {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;
  line-height: 15px
}
#header #nav ul a {
  margin-right: 15px;
  color: #cc2a41
}
#header #nav ul a:hover {
  background-image: linear-gradient(transparent,transparent 5px,#cc2a41 5px,#cc2a41);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x
}
#header #nav ul li {
  display: inline-block;
  margin-right: 15px;
  border-right: 1px dotted;
  border-color: #cc2a41;
  vertical-align: middle
}
#header #nav ul .icon {
  display: none
}
#header #nav ul li:last-child {
  margin-right: 0;
  border-right: 0
}
#header #nav ul li:last-child a {
  margin-right: 0
}
#header:hover #logo {
  filter: none;
  -webkit-filter: none
}
#footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  color: #666;
  vertical-align: top;
  text-align: center;
  font-size: 11px
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none
}
#footer li {
  display: inline-block;
  margin-right: 15px;
  border-right: 1px solid;
  border-color: #666;
  vertical-align: middle
}
#footer li a {
  margin-right: 15px
}
#footer li:last-child {
  margin-right: 0;
  border-right: 0
}
#footer li:last-child a {
  margin-right: 0
}
#footer a {
  color: #666;
  text-decoration: underline;
  background-image: none
}
#footer a:hover {
  color: #858585
}
@-moz-keyframes tooltip-appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-webkit-keyframes tooltip-appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-o-keyframes tooltip-appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes tooltip-appear {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
main {
  margin: 0 auto;
  padding: 0
}
#footer {
  position: relative;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center
}

ul {
  margin-left: 0;
  padding-left: 0
}


p img {
  max-width: 550px;
  height: auto
}