{{ define "main" }}

<div class="h-card" style="display: none;">
    <a class="p-name u-url" href="https://mreider.com">Matt Reider</a>
    <img class="u-photo" src="https://mreider.com/images/matt/matt-ali-maine.png" alt="Matt Reider">
    <p class="p-note">American expat in Vienna, husband, father, Lagotto owner, friend</p>
</div>


{{ $allPosts := where site.RegularPages "Type" "in" (slice "life" "tech" "writeups" "reflections" "deutsch") }}
{{ $allPosts = where $allPosts "Params.status" "ne" "draft" }}
{{ $allPosts = $allPosts.ByDate.Reverse }}

{{ if $allPosts }}
<ul class="post-list">
    {{ range $allPosts }}
    <li class="post-list-item">
        <span class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
        <span class="post-section">{{ .Section }}</span>
        {{ if .Description }}
        <p class="post-description">{{ .Description }}</p>
        {{ end }}
        <div class="post-meta">
            {{ if not .Date.IsZero }}{{ .Date.Format "Jan 2, 2006" }}{{ end }}
            {{ if .Params.author }}{{ if not .Date.IsZero }} · {{ end }}{{ .Params.author }}{{ end }}
        </div>
    </li>
    {{ end }}
</ul>
{{ end }}

{{ end }}
